<% content_for :body do %>
  <section class="hero is-medium has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="subtitle is-2">Welcome to the Sample App</h1>

        <h2 class="subtitle">
          This is the home page for the
          <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
          sample application.
        </h2>

        <%= link_to "Sign up now!", signup_path, class: "button is-medium is-primary is-outlined" %>
      </div>
    </div>
  </section>
<% end %>
