<% provide(:title, "Log in") %>
<div class="columns is-centered">
  <div class="column is-half">
    <div class="box">
      <h1 class="subtitle is-3 has-text-centered">Log in</h1>
      <%= form_for(:session, url: login_path) do |f| %>
        <div class="field">
          <div class="control">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, class: "input" %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.label :password, class: "label" %>
            <%= f.password_field :password, class: "input" %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.label :remember_me, class: "checkbox" do %>
              <%= f.check_box :remember_me %>
              Remember me on this computer
            <% end %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.submit "Log in", class: "button is-primary is-outlined" %>
            <%= link_to "I forgot my password", new_password_reset_path,
                        class: "button is-primary is-inverted" %>
          </div>
        </div>
      <% end %>
    </div>
    <p class="has-text-grey">New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
