<% provide(:title, "Reset password") %>

<div class="columns is-centered">
  <div class="column is-half">
    <h3 class="subtitle is-3">Reset password</h3>
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= hidden_field_tag :email, @user.email %>

      <div class="field">
        <div class="control">
          <%= f.label :password, class: 'label' %>
          <%= f.password_field :password, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.label :password_confirmation, "Confirmation", class: 'label' %>
          <%= f.password_field :password_confirmation, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.submit "Update password", class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
