<% provide(:title, "Forgot password") %>

<div class="columns is-centered">
  <div class="column is-half">
    <h3 class="subtitle is-3">Forgot password</h3>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <div class="field">
        <div class="control">
          <%= f.label :email, class: 'label' %>
          <%= f.email_field :email, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.submit "Submit", class: 'button is-info is-outlined' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
