<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <div class="field">
    <div class="control">
      <%= f.label :name, class: "label" %>
      <%= f.text_field :name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.label :password, class: "label" %>
      <%= f.password_field :password, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.label :password_confirmation, class: "label" %>
      <%= f.password_field :password_confirmation, class: "input" %>
    </div>
  </div>

  <%= f.submit yield(:button_text), class: "button is-success is-outlined" %>
<% end %>
