<% provide(:title, "Edit user") %>
<% provide(:button_text, "Save changes") %>
<div class="columns is-centered">
  <div class="column is-half">
    <div class="box">
      <h1 class="subtitle is-3 has-text-centered">Update your profile</h1>

      <%= render 'form' %>
    </div>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
    </div>
  </div>
</div>
