<% provide(:title, 'All Users') %>
<h1 class="title">All users</h1>

<div class="columns">
  <div class="column">
    <ul class="users">
      <%= render @users %>
    </ul>
    <div class="columns is-centered">
      <div class="column is-4">
        <%= will_paginate %>
      </div>
    </div>
  </div>
</div>
