<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="columns is-centered">
  <div class="column is-half">
    <div class="box">
      <h1 class="subtitle is-3 has-text-centered">Sign up</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
