<% provide(:title, @user.name) %>
<div class="columns">
  <aside class="column is-4">
    <section class="user_info">
      <h3 class="subtitle is-3">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
    </section>
  </aside>
</div>
