<% if @user.errors.any? %>
  <div class="message is-danger">
    <div class="message-body">
      <div class="content">
        <p>
          The form contains
          <%= pluralize(@user.errors.count, "error") %>:
        </p>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
