@import "sass/utilities/initial-variables";

$navbar-height: 3.5rem;

$radius: 2px;
$radius-large: 2px;

$red: #ec8f89;
$red-invert: darken($red, 45%);
$green: #7ad398;
$green-invert: darken($green, 45%);
$blue: #357cd4;
$blue-invert: darken($blue, 45%);
$info: #9be3f3;
$info: darken($info, 35%);

$primary: $blue;
$success: $green;

$label-color: $grey-dark;

$input-shadow: none;
$input-focus-border-color: $primary;
$input-focus-box-shadow-size: 0 0 0.15rem 0.05rem;

$button-focus-box-shadow-size: 0 0 0.15rem 0.05rem;

$navbar-dropdown-border-top: 1px solid lighten($primary, 5%);
