@import "variables";
@import "bulma";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: $navbar-height;
}

#app {
  flex: 1;
}

#logo {
  text-transform: uppercase;
  font-size: 1.15rem;

  &:hover {
    background-color: inherit;
  }
}

// sidebar
aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.users {
  margin: 0;
  margin-bottom: 3rem;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $grey-lighter;
  }
}

.footer {
  padding: 2.5rem 2rem;
}

.debug_dump {
  padding: 2rem;
  padding-top: 0;
  font-size: 0.7rem;
  color: #666;
}

.label {
  font-size: $size-small;
  text-transform: uppercase;
}

.button {
  transition: box-shadow 200ms ease-in-out,
              color 200ms ease-in-out,
              background-color 200ms ease-in-out;
}

.input {
  transition: box-shadow 200ms ease-in-out, border 200ms ease-in-out;
}

.navbar-item {
  font-size: $size-small;
  text-transform: uppercase;
  transition: background-color 150ms linear;
}

.turbolinks-progress-bar {
  height: 0.2rem;
  background-color: lighten($primary, 30%);
}
