<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
      </p>
    </div>
  </div>
</footer>
