<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "sample app", root_path, id: "logo", class: "navbar-item" %>
      <div class="navbar-burger" data-target="main-navbar">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" id="main-navbar">
      <div class="navbar-start">
        <%= link_to "Home", root_path, class: "navbar-item" %>
        <%= link_to "Help", help_path, class: "navbar-item" %>
        <%= link_to "About", about_path, class: "navbar-item" %>
        <%= link_to "Contact", contact_path, class: "navbar-item" %>
      </div>
      <div class="navbar-end">
        <% if logged_in? %>
          <%= link_to "Users", users_path, class: "navbar-item" %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Account</a>
            <div class="navbar-dropdown is-right">
              <%= link_to "Profile", current_user, class: "navbar-item" %>
              <%= link_to "Settings", edit_user_path(current_user), class: "navbar-item" %>
              <hr class="navbar-divider">
              <%= link_to "Log out", logout_path, class: "navbar-item", method: :delete %>
            </div>
          </div>
        <% else %>
          <%= link_to "Log in", login_path, class: "navbar-item" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
